<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrewPoint - Đăng nhập</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<div class="container">
    <div class="left">
        <div class="logo">
        <div class="logo-box">
            <img src="{{ url_for('static', filename='images/logo.png') }}"
                alt="BrewPoint Logo"
                class="logo-img">
        </div>
        <span>BrewPoint</span>
    </div>
        <img src="{{ url_for('static', filename='images/coffee.jpg') }}" class="coffee">
        <div class="caption">
            <h1>
                Quán của bạn,<br>
                <span>Quản lý hoàn hảo.</span>
            </h1>
            <p>
                Đặt hàng QR, màn hình bếp theo thời gian thực,
                thu ngân POS và phân tích — tất cả trong một nơi.
            </p>
        </div>
    </div>
    <div class="right">
        <div class="login-box">
            <h1>TRANG ĐĂNG NHẬP</h1>
            <form id="loginForm">
                <label>Đăng nhập với tư cách</label>
                <select id="role">
                    <option value="admin">Quản trị viên</option>
                    <option value="staff">Nhân viên</option>
                </select>
                <label>Email / Tên đăng nhập</label>
                <input
                        type="text"
                        id="username"
                        placeholder="admin@brewpoint.vn">
                <label>Mật khẩu</label>
                <div class="password">
                    <input
                            type="password"
                            id="password"
                            placeholder="••••••••">
                    <i class='bx bx-hide' id="togglePassword"></i>
                </div>
                <div class="option">
                    <label class="remember">
                        <input type="checkbox">
                        Ghi nhớ đăng nhập
                    </label>
                    <a href="#">Quên mật khẩu?</a>
                </div>
                <button type="submit">
                    Đăng Nhập
                </button>
            </form>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>